<div class="card mt-5">
    <div class="card-header">Settings</div>
    <div class="card-body m-3">
        <div *ngIf="success" class="alert alert-success" role="alert">
            Successfully set token
        </div>

        <form [formGroup]="tokenForm" (ngSubmit)="setToken(tokenForm.value)">
            <div class="form-group">
                <label for="token">Token</label>
                <input type="text" formControlName="token" class="form-control" id="token" placeholder="Token" required>
            </div>

            <button type="submit" class="btn btn-primary mb-2">Set token</button>
        </form>
    </div>
</div>
